body {
	background: linear-gradient(-45deg, #00c3ff, #ffff1c);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form-card {
  position: absolute;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  background-color: white;
  border-radius: 16px;
  padding: 16px;
}

.avatars {
  margin: auto;
}