.screen {
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
}

#video-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.form-card {
  position: absolute;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  background-color: white;
  opacity: 0.9;
  border-radius: 16px;
  padding: 16px;
}

.avatars {
  margin: auto;
}

.dashboard {
	width: 100%;
	height: 100vh;
	background-color: #EFEFEF;
	overflow-y: scroll;
	scrollbar-width: none;
}

#brand-name {
	flex-grow: 1;
	color: #023047;
	font-weight: bold;
	font-size: 32px;
	font-family: "Audiowide", sans-serif;
}

#profile-banner {
	width: 100%;
	height: 275px;
}

#dashboard-content {
	padding: 96px 16px 40px;
}

#banner-text {
	font-size: 18px;
	font-weight: 500;
	font-family: "Audiowide", sans-serif;
}

/* Styling for no data screen */

#no-data-banner {
	width: 100%;
	height: 350px;
	opacity: 0.75;
}

#no-data-banner-text {
	font-family: "Audiowide", sans-serif;
	color: #FDB8F7;
	text-align: center;
	margin: 0 100px;
}

/* Styling Brand Logo */

#brand-logo {
	display: block;
	margin: auto;
}


/* Standard Note Styling */

#note-card-heading {
	font-weight: 700;
	font-size: 25px;
	font-family: "Audiowide", sans-serif;
	color: #023047;
	text-transform: capitalize;
}

#note-card-time {
	font-weight: 500;
	font-size: 12px;
	color: #023047;
}

#note-card-subheading {
	font-weight: 500;
	font-size: 18px;
	font-family: "Audiowide", sans-serif;
	color: #023047;
	text-transform: capitalize;
	margin-bottom: 4px;
}

#note-card-message {
	color: #023047;
}

#note-action-menu {
	display: flex;
	justify-content: space-between;
}

#note-card {
	min-width: 300px;
	margin: auto;
	border-radius: 16px;
}

#note-card-content {
	height: 225px;
}

#note-card-body {
	height: 150px;
	overflow-y: scroll;
	scrollbar-width: none;
}

#list-row {
	padding: 0px 16px;
	background-color: #F7F7F7;
	margin: 5px;
	border-radius: 16px;
}